@using booka.counter.Data

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">booka.counter</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tag">
                <span class="oi oi-plus" aria-hidden="true"></span>Neu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            @foreach (var tag in MyTags)
            {
                <NavLink class="nav-link" href="@("counter/" + @tag.Id)">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>@tag.Title
                </NavLink>
            }

        </li>
    </ul>
</div>

@code {
    [Inject]
    private CountService CountService { get; set; }

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<Tag> MyTags { get; set; } = new List<Tag>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            MyTags = await CountService.GetMyTags();
        }
        catch 
        {
        }
        await base.OnInitializedAsync();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
