@page "/"

<h1>Hello, Sportsfreund!</h1>

Wie geht das?
<ul>
    <li>Registrieren oder einloggen</li>
    <li>Neuen Counter erstellen (sieht kacke aus, geht aber)</li>
    <li>Zählen</li>
    <li>URL kopieren und an Sportsfreund/innen verschicken</li>
    <li><b>Wer die URL kennt, kann den Counter angucken</b></li>
    <li><b>Wer mindestens einen Count gezählt hat, der hat den Counter bei sich im Menu</b> (ev. reload notwendig, alle anderen müssen sich die URL merken oder erraten - viel Glück)</li>
</ul>
<TelerikButton>Say Hello</TelerikButton>
<SurveyPrompt Title="Wie gefällt Dir der Counter?" />
